page {
  .topHeight {
    height: 160px;
  }
  .index {
    background: url(../../assets/bg.png) left top / 100% 100% no-repeat;

    .title {
      padding: 15px;
      .hi {
        font-size: 100px;
        font-weight: Heavy;
      }
      .welcome {
        padding: 14px 0px;
        font-size: 50px;
        font-weight: Bold;
      }
    }

    .headerimg {
      width: 100%;
      height: 274px;
    }
  }
}
// 顶部间距
.height {
  height: 30px;
}
