page {
  .topHeight {
    height: 160px;
  }
  .index {
    background: url(../../assets/bg.png) left top / 100% 100% no-repeat;

    .title {
      padding: 20px;
      .hi {
        font-size: 70px;
        font-weight: 700;
      }
      .welcome {
        padding: 14px 0px;
        padding-top: 10px;
        font-size: 28px;
        font-weight: 600;
      }
    }

    .headerimg {
      width: calc(100% - 40px);
      margin: 20px;
      margin-top: 10px;
      height: 274px;
      background: url(../../assets/header.png) 0 0 /100% 100% no-repeat;
      box-shadow: 6px 0px 13px 0px #1d202357;
      border-radius: 13px;
      margin-bottom: 30px;
    }
  }
}
// 顶部间距
.height {
  height: 30px;
}
