page {
  background: url(../../assets/bg.png) left top / 100% no-repeat;

  .index {
    .title {
      padding: 15px;
      .hi {
        /* prettier-ignore */
        font-size: 50Px;
      }
      .welcome {
        padding: 14px 0px;
        /* prettier-ignore */
        font-size: 25Px;
      }
    }

    .headerimg {
      width: 100%;
      height: 274px;
    }
  }
}
