.card {
  height: 302px;
  padding: 30px;
  border-radius: 12px 12px 12px 12px;
  font-size: 0;

  background: url(../../assets/card-bg.png) 0 0 / 100% 100% no-repeat;
  .card-top {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
  }
  .card-center-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-center {
      width: 65%;
      .card-center-icon {
        padding: 15px 0;
        image {
          width: 62px;
          height: 62px;
        }
      }
      .card-bottom-icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .icontext {
          margin: 10px 0;
          image {
            width: 62px;
            height: 62px;
            vertical-align: middle;
          }
          text {
            vertical-align: middle;
            padding: 0 10px;
            font-size: 20px;
          }
        }
      }
    }
    .deviceBg {
      width: 35%;
      height: 219px;
      margin-top: 10px;
      background: url(../../assets/devices.png) center left/ 100% no-repeat;
    }
  }
}
