.card {
  height: 302px;
  padding: 15px;
  border-radius: 12px 12px 12px 12px;
  font-size: 0;
  margin: 0 15px;
  /* prettier-ignore */
  box-shadow:6Px 0Px 13Px 0Px #1d202357;
  border-radius: 12px 12px 12px 12px;
  .card-top {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: Bold;
    padding: 0 15px;
    .iconright {
      opacity: 30%;
    }
  }
  .card-center-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-center {
      width: 65%;
      .card-center-icon {
        margin-top: 26px;
        margin-bottom: 20px;
        .wifi {
          margin-left: 20px;
        }
        image {
          width: 62px;
          height: 62px;
        }
      }
      .card-bottom-icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .icontext {
          margin: 15px 0;
          &:nth-child(2n) {
            margin-left: 50px;
          }
          image {
            width: 62px;
            height: 62px;
            vertical-align: middle;
          }
          text {
            vertical-align: middle;
            padding: 0 10px;
            font-size: 20px;
          }
        }
      }
    }
    .deviceBg {
      width: 35%;
      height: 219px;
      margin-top: 10px;
      background: url(../../assets/devices.png) center left/ 100% no-repeat;
    }
  }
}
