@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1685335155109") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-fuzaijunheng:before {
  content: "\e63f";
}

.iconfont-dianchi:before {
  content: "\e651";
}

.iconfont-dianliang_huaban:before {
  content: "\e642";
}

.iconfont-chongdianzhuang:before {
  content: "\e672";
}

.iconfont-chongdianzhong:before {
  content: "\e7ac";
}
